# SPDX-FileCopyrightText: 2025 Luis Pfamminger
#
# SPDX-License-Identifier: Apache-2.0

name: generate docs

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-latest
    name: panvimdoc
    steps:
      - uses: actions/checkout@v4
      - name: panvimdoc
        uses: kdheepak/panvimdoc@main
        with:
          vimdoc: git-sync.nvim
          version: "Neovim >= 0.7.0"
          demojify: true
          treesitter: true
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "docs: auto-generate helpfile"
          branch: ${{ github.head_ref }}
